<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Maintenance Monitor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>

        body{
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(133,250,162,1) 50%, rgba(255,255,255,1) 100%);
        }

        .center{
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="mainBox">
    <div class="center">
        <span id="monitorHeader" style="font-size:36px; font-weight: bold; font-family:'Calibri'">Maintenance Monitor</span>
        <br />
        <span id="monitorStatus" style="font-size:24px; font-family:'Calibri'">[Status-Text]</span>
        <p th:text="${mm.status}" />
        <p th:text="${mm.statusDateTime}" />
        <br />
        <br />
        <span id="monitorLastUpdate" style="font-size:12px; font-weight: bold; font-family:'Calibri'">last update: 1900-01-01</span>
    </div>
</div>

</body>
</html>